.navbar {
    background-color: #3c7c59; 
    border-bottom: 2px solid #444; 
  }
  .offcanvas {
    background-color: #3c7c59; 
    color:white;
  }

.customModal {
    background-color:  #3c7c59;
    border-radius: 8px; 
    color: #333; 
  }
  
  .modalheader {
    background-color: #a3a39f; 
    border-bottom: 1px solid #dee2e6; 
  }
  
  .customModal .modal-body {
    padding: 20px; 
  }
    .modalfooter {
    background-color:#3c7c59;
    border-top: 1px solid #dee2e6; 
  }
  .background {
    background-color:#c0cacc;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
}
.cardBackground {
    background-color: #b0e2ee; 
    border-radius: 8px;
}

.fixedNavbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    background-color: #3c7c59;
    transition: top 0.3s; 
  }
  .mainContent {
    padding-top: 10px; 
  }
    
